@CHARSET "UTF-8";

body {
	overflow-x: hidden;
	margin: 0;
}

.body {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: white;
}

.footText {
	position: relative;
	left: 70%;
	margin: 0px;
}

.headerText {
	margin-bottom: 0;
	position : relative;
	left: 5%;
	position: relative;
}

.menu {
	list-style-type: none;
	margin: 0;
	width: 15%;
	background-color: #f1f1f1;
	position: fixed;
	height: 80%;
}

.main {
	margin-left: 15%;
}

.footer {
	margin-left: 15%;
}

.arrival{
	width: 100%;
}